# Config file
build
babel.config.js
package-lock.json
npm-shrinkwrap.json
postcss.config.js
vue.config.js
build-lib.js
gulpfile.js
jest.config.js
lerna.json
tsconfig.json
yarn.lock
commitlint.config.js
README-DEV.md

# Editor file
.babelrc-lib
.jshintrc
.editorconfig
.prettierrc.js
.browserslistrc
.eslintrc.js
.gitignore

# Folder
exports
src
scripts
typings
public
/dist
docs
tests
node_modules
